body {
    background-color: black;
    height: 100vh;
    /* min-height: 100vh; */
    position: fixed;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

header, footer {
    color: white;
    text-align: center;
    margin: 1rem;
}

.main-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    border-radius: 8px;

}

#grid-wrapper {
    display: grid;
    /* padding: 0px; */
    /* margin: 50% auto; */
    max-width: 600px;
    min-width: 600px;
    max-height: 600px;
    min-height: 600px;
}

.box {
    border-color: white;
    background-color: white;
    padding: 0.25rem;
}

.grid-color {
    background-color: blue;
}

.box:hover {
    background-color: rgb(128, 0, 128);
    transition: 0;
}
