body {
    background-color: black;
    height: 100vh;
    /* min-height: 100vh; */
    position: fixed;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

header, footer {
    color: white;
    text-align: center;
    margin: 1rem;
}

.main-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color-toolbox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.color-picker {
    padding: 1rem;
}

.color-picker.red {
    background-color: red;
}

.color-picker.orange {
    background-color: orange;
}

.color-picker.yellow {
    background-color: yellow;
}

.color-picker.green {
    background-color: green;
}

.color-picker.cyan {
    background-color: cyan;
}

.color-picker.blue {
    background-color: blue;
}

.color-picker.purple {
    background-color: purple;
}

.color-picker.pink {
    background-color: pink;
}

.color-picker.black {
    background-color: black;
}

.color-picker.white {
    background-color: white;
}

button {
    border-radius: 8px;
}

#grid-wrapper {
    display: grid;
    /* padding: 0px; */
    /* margin: 50% auto; */
    max-width: 600px;
    min-width: 600px;
    max-height: 600px;
    min-height: 600px;
}

.grid-color {
    background-color: blue;
}

.box:hover {
    background-color: rgb(128, 0, 128);
}